project-template/xsd/blacklist.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="blacklist">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="template" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="target_url" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="tid" type="xs:string" use="required"/>
						<xs:attribute name="org" type="xs:string" use="required"/>
						<xs:attribute name="from" type="xs:date"/>
                    </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="validfrom" type="xs:date"/>
			<xs:attribute name="validto" type="xs:date"/>
			<xs:attribute name="application" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>